#container {
    border: 2px solid rgb(67, 64, 64);
    border-radius: 5px;
    height: 400px;
    width: 270px;
}
#display {
    margin: 20px;
    width: 85%;
    font-size: 20px;
    /* border:1px solid black; */
}
.button {
    height: 50px;
    width: 50px;
    border-radius: 5px;
    margin: 5px;
}
.button-container {
    display: flex;
    justify-content: center;
    
    flex-wrap: wrap;
}