* {
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: aquamarine;
}
h1 {
    background-color: #081b31;
    color: #fff;
    height: 5rem;
    line-height: 5rem;
}
.choice {
    height: 165px;
    width: 165px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.choice:hover {
    background-color: darkblue;
    cursor: pointer;
}
img {
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
}
.container {
    display: flex;
    justify-content: center;
    gap: 3rem;
    margin-top: 2rem;
}
.score-board {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin-top: 3rem;
    gap: 5rem;
}
#user-score,#comp-score {
    font-size: 4rem;
}
.sms-container {
    margin-top: 3rem;
}
#sms {
    background-color: #081b31;
    color: #fff;
    height: 5rem;
    line-height: 4rem;
    font-size: 2rem;
    display: inline;
    padding: 1rem;
    border-radius: 1.4rem;
}